/* コンテナ全体 */
.big-container{
  display: block;
}

.header-text{
  width: 100%;
  padding: 5px;
  float: left;
  background-color: rgb(105, 97, 164);
  height: 10vh;
  text-align: center;
}

.text{
  text-align: center;
  padding: 3%;
  font-size: 2rem;
  font-weight: bold;
}



.information-text{
  font-size: 40px;
}

.input-form{
  clear: both;
  width: 100%;
  padding: 5px;
  float: left;
  background-color: rgb(148, 143, 186);
  height: 100vh;
  text-align: center;
}