.title-header{
    width: 69.5em;
    padding: 5px;
    float: left;
    background-color: rgb(105, 97, 164);
    height: 10vh;
    text-align: center;
    margin-left: 2em;
  }
  
.title-text{
    font-size: 40px;
}