.main-contents{
  display: flex;
  justify-content: center;
}

.information-preview{
  display: flex;
  margin: auto;
  height: auto;
}

.information{
  flex-shrink: 0;
}

.preview{
  flex-shrink: 0;
}

.buttons{
  margin: 1em;
  margin-left: 20em;
  text-align: center;
  display: flex;
  gap:2em;
}