.information-preview{
  display: flex;
}

.information{
  flex-shrink: 0;
}

.buttons{
  margin: 1em;
  margin-left: 2em;
  text-align: center;
}
.buttons button{
  width: 10em;
  height: 2em;
  font-size: 1.5em;
}